@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Datos personales</h2>
        <ul>
            <li>Jonathan Vazquez Fuentes</li>
            <li>La aplicacion fue creada con Net Core 2.1</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Consultas a SIE-BANXICO</h2>
        <ul>
            <li><a>La primera consulta obtiene los tados con el filtro PorcObsAnt</a></li>
            <li><a>La primera consulta obtiene los tados con el filtro PorcAnual</a></li>
            <li><a>La primera consulta obtiene los tados con el filtro PorcAcumAnual</a></li>
            <li><a>Para la obtencion de los objetos se definieron las clases necesarias para poder trabajar con la informacion del objeto obtenido</a></li>
            <li><a>Las clases son en base al Json Obtenido: Rootobject, BMX, Series y la de los Datos</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Permisos</h2>
        <ul>
            <li><a>Se definio la base para un Login donde se verifican datos basicos como correo electronico y contraseña con validación</a></li>
            <li><a>Para esto se definio una clase LoginViewModel que servira de base para el flujo de autenticacion</a></li>
            <li><a>El usuario que se definio de prueba es: UserName -> test@test.com  --  Contraseña -> 123456</a></li>
            <li><a>Como no se tiene una base de datos no se completo el proceso de mantener la sesion pero ya esta preparada la plataforma</a></li>
            <li><a>Se definieron que unos menus no se visualizaran ya que no se usan pero solo lo podra ver un perfil autenticado y que sea Admin</a></li>
            <li><a>Como comente la plataforma esta preparada para agregar una base de datos y definir las clases de conexion y validacion final</a></li>
        </ul>
    </div>    
</div>
